@charset "utf-8";

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, dialog, input {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block
}

/* ios默认文本框阴影 */
input[type=text], textarea {
    -webkit-appearance: none;
}

/* 低版本安卓文本框层级问题 */
input:focus {
    -webkit-user-modify: read-write-plaintext-only;
}
ol, ul, li, menu {
    list-style: none
}
table {
    border-collapse: collapse;
    border-spacing: 0
}
html, body {
    width: 100%;
    font-size: 10px;
    font-family: "PingFangSC-Regular", "SimHei", "Helvetica Neue", Arial, "Droid Sans", sans-serif;
    line-height: 1;
    color: #303030;
}
@media only screen and (min-width:375px) {
    html, body {
        font-size: 11px;
    }
}
html {
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: 100%
}
a, button, input {
    outline: 0 none;
    text-decoration: none
}
img {
    border: 0 none;
    vertical-align: bottom;
    -ms-interpolation-mode: bicubic;
    max-width: 100%;
}

.hide {
    display: none;
}
.fr {
    float: right;
}
.fl {
    float: left;
}
.tc {
    text-align: center;
}
.clr {
    clear: both;
}

// 整体布局 适用于SPA
.header,.footer,.wrap-page{
    position:absolute;
    left:0;
    right:0;
    background-color: #fff;
}
.header,.footer{
    height:0.88rem;
    line-height: 0.88rem;
    background-color: #fff;
    text-align: center;
    z-index:900;
}
.header{
    top: 0;
    border-bottom: 1px solid #f00;
}
.footer{
    bottom: 0;
    border-top: 1px solid #f00;
}
.wrap-page{
    top: 0;
    bottom: 0;
}
.back{
    display: inline-block;
    position: absolute;
    top: 0.63rem;
    left: 0.3rem;
    width: 0.24rem;
    height: 0.4rem;
    background-size: cover;
}
// page布局
// 默认有header无footer，所以top为header的高度，bottom为0
.page {
    position: absolute;
    left: 0;
    width: 100%;
    top: 0.88rem;
    bottom: 0;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
}

// layout
// 无header有footer，所以page排除footer的高度，top为0，bottom为footer的高度
.page-footer {
    top: 0;
    bottom: 0.98rem;
}
// 有header和footer，所以page排除两者的高度，top为header的高度，bottom为footer的高度
.page-header-footer {
    top: 0.88rem;
    bottom: 0.98rem;
}

// page status
.page-active {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.page-prev {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}
.page-next {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
}
.page-in {
    -webkit-transition: -webkit-transform 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -ms-transition: transform 300ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: transform 300ms cubic-bezier(0.42, 0, 0.58, 1);
}
.page-out {
    -webkit-transition: -webkit-transform 400ms cubic-bezier(0.42, 0, 0.58, 1) 0.1s;
    -ms-transition: transform 400ms cubic-bezier(0.42, 0, 0.58, 1) 0.1s;
    transition: transform 400ms cubic-bezier(0.42, 0, 0.58, 1) 0.1s;
}
